In [105]:
import pandas as pd

In [106]:
df=pd.read_csv("C:\\Users\\skesi\\Downloads\\iphone.csv")

In [107]:
# 1 - The column names have spaces . rename the column names to have underscore '_' instead of space 
# (try to do in one go instead of specifying each column nam in rename method)


df.rename(columns={'Product Name':'product_name','Product URL':'product_url',
                   'Brand':'brand','Sale Price':'sale_price','Mrp':'mrp',
                   'Number Of Ratings':'number_of_ratings','Number Of Reviews':'number_of_reviews',
                   'Upc':'upc','Star Rating':'star_rating','Ram':'ram'}, inplace=True)

In [108]:
# 2- start rating for some of the models is missing in the dataset. 
# fill those missing values with the average rating all the models.

avg_rating=df['star_rating'].mean().round(1)
df['star_rating'].fillna(avg_rating,inplace=True)
df['star_rating'].isna().sum()

0

In [109]:
# 3- Now instead of filling missing values with avg rating of full dataset , 
# fill with avg rating based on RAM. 
# example :  if rating for a 2 gb phone is missing then take average of all other 2 gb phones rating and fill that value. 


df=pd.read_csv("C:\\Users\\skesi\\Downloads\\iphone.csv")
df.rename(columns={'Product Name':'product_name','Product URL':'product_url',
                   'Brand':'brand','Sale Price':'sale_price','Mrp':'mrp',
                   'Number Of Ratings':'number_of_ratings','Number Of Reviews':'number_of_reviews',
                   'Upc':'upc','Star Rating':'star_rating','Ram':'ram'}, inplace=True)
avg_rating=df.groupby('ram')['star_rating'].mean().round(1)
def filling_star_rating(row):
    if pd.isna(row['star_rating']):
        return avg_rating[row['ram']]
    else:
        return row['star_rating']
df['star_rating']=df.apply(filling_star_rating,axis=1)

df['star_rating'].isna().sum()

0

In [110]:
# 4- create a new column in the dataframe "Discount_Percentage" based on MRP and sale value

df['discount_percentage']=(((df['mrp']-df['sale_price'])/df['mrp'])*100).round(1)
df['discount_percentage'].unique()

array([ 0. , 20.6, 16.5, 29.6, 16. , 17.6, 18. ,  6. ,  6.4, 13.4,  6.9,
       14.3, 10.6,  7.5, 11.3,  8.2, 24.8, 22.1, 14.4])

In [111]:
# 5- which model has highest percent discount ?
fc=df[df['discount_percentage']==df['discount_percentage'].max()]
print(fc['product_name'])

18    APPLE iPhone 11 Pro (Midnight Green, 64 GB)
Name: product_name, dtype: object

In [112]:
# 6- find total no of models  each space configuration (128 GB , 64 GB etc)
split_product = df['product_name'].str.split(' ', expand=True)

# Create new columns
df[['product_details', 'specifications']] = df['product_name'].str.extract(r'^(.*?)\s(\(.*\))$')

# Extract product color and size
df['product_colour'] = df['specifications'].str.extract(r'\(([^,]+)')
df['product_size'] = df['specifications'].str.extract(r',\s(\d+\sGB)\)')
total_no_of_models=df.groupby('product_size',as_index=False)['product_details'].count()
total_no_of_models.rename(columns={"product_name":"model_count"})

  product_size  product_details
0       128 GB               24
1       256 GB               14
2       512 GB                4
3        64 GB               20

In [113]:
# 7- find total number of models for each color 

tot_no_of_col_model=df.groupby('product_colour', as_index=False)['product_size'].count()
tot_no_of_col_model.rename(columns={'product_size': 'model_count'}, inplace=True)
tot_no_of_col_model.sort_values(by='model_count',ascending=False)

    product_colour  model_count
0            Black           10
13           White           10
11          Silver            7
3             Gold            6
12      Space Grey            6
10             Red            5
4         Graphite            4
6   Midnight Green            4
7     Pacific Blue            4
1             Blue            2
2            Coral            1
5            Green            1
8           Purple            1
9              RED            1

In [116]:
# 8- find total number of models by iphone version : eg
# iphone 8:  9
# iphone XR : 5

df.groupby('product_details',as_index=False)['product_name'].count()

            product_details  product_name
0           APPLE iPhone 11             7
1       APPLE iPhone 11 Pro             4
2   APPLE iPhone 11 Pro Max             5
3           APPLE iPhone 12             7
4      APPLE iPhone 12 Mini             6
5       APPLE iPhone 12 Pro             5
6   APPLE iPhone 12 Pro Max             8
7            APPLE iPhone 8             3
8       APPLE iPhone 8 Plus             5
9           APPLE iPhone SE             5
10      APPLE iPhone XS Max             1
11          Apple iPhone SE             1
12          Apple iPhone XR             5

In [117]:
# 9- list top 5 models having highest no of reviews 
sorted_review=df.sort_values(by='number_of_reviews',ascending=False)
top_5_model=sorted_review.head(5)
top_5_model

,product_name,product_url,brand,sale_price,mrp,number_of_ratings,number_of_reviews,upc,star_rating,ram,discount_percentage,product_details,specifications,product_colour,product_size
23,"Apple iPhone SE (White, 256 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,44999,54900,95909,8161,MOBFRFXHPZCHAPEH,4.5,2 GB,18.0,Apple iPhone SE,"(White, 256 GB)",White,256 GB
53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB,22.1,APPLE iPhone SE,"(Black, 128 GB)",Black,128 GB
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,22.1,APPLE iPhone SE,"(Red, 128 GB)",Red,128 GB
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,24.8,APPLE iPhone SE,"(Black, 64 GB)",Black,64 GB
52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB,24.8,APPLE iPhone SE,"(White, 64 GB)",White,64 GB

In [118]:
# 10 - what is the price diffrence between highest price and lowest price iphone (based on mrp)

min_price=df['mrp'].min()
max_price=df['mrp'].max()
diff=max_price-min_price
print(diff)

110000

In [119]:
# 11 - find total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for 11 and 12).
df['product_name_short']=split_product[0]+' '+split_product[1]+' '+split_product[2]
category=['APPLE iPhone 11','APPLE iPhone 12']
fc= (df['product_name_short'].isin(category))
df_11_12=df[fc]

df_11_12.groupby('product_name_short',as_index=False)['number_of_reviews'].sum()

  product_name_short  number_of_reviews
0    APPLE iPhone 11              25965
1    APPLE iPhone 12               2208

In [104]:
# 12- which iphone has 3rd highest MRP
sorted_prices=df.sort_values(by='mrp',ascending=False)
list_prices=sorted_prices['mrp'].unique()
df[df['mrp']==list_prices[2]] #iphone has 3rd highest MRP

,product_name,product_url,brand,sale_price,mrp,number_of_ratings,number_of_reviews,upc,star_rating,ram,product_colour,product_size,product_details,specifications,product_name_short
25,"APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,580,45,MOBFWBYZ8STJXCVT,4.6,6 GB,Pacific Blue,256 GB,APPLE iPhone 12 Pro Max,"(Pacific Blue, 256 GB)",APPLE iPhone 12
31,"APPLE iPhone 12 Pro Max (Graphite, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,580,45,MOBFWBYZEF6XQ5ZW,4.6,6 GB,Graphite,256 GB,APPLE iPhone 12 Pro Max,"(Graphite, 256 GB)",APPLE iPhone 12
48,"APPLE iPhone 12 Pro Max (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,580,45,MOBFWBYZZH4AM8FE,4.6,6 GB,Silver,256 GB,APPLE iPhone 12 Pro Max,"(Silver, 256 GB)",APPLE iPhone 12
49,"APPLE iPhone 12 Pro Max (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,580,45,MOBFWBYZZPW8JHQF,4.6,6 GB,Gold,256 GB,APPLE iPhone 12 Pro Max,"(Gold, 256 GB)",APPLE iPhone 12

In [88]:
# 13- what is the average mrp of iphones which costs above 100,000

fc=df['mrp']>=100000
price_greater_100k=df[fc]
avg_price=price_greater_100k['mrp'].mean().round(1)
print(avg_price)

130559.1

In [94]:
# 14- which iphone with 128 GB space has highest ratings to review ratio
fc=(df['product_size']=='128 GB')
iphone_128=df[fc]
iphone_128['rating_to_review']=iphone_128['number_of_ratings']/iphone_128['number_of_reviews']

C:\Users\skesi\AppData\Local\Temp\ipykernel_1368\880949915.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iphone_128['rating_to_review']=iphone_128['number_of_ratings']/iphone_128['number_of_reviews']

In [98]:
fc=iphone_128['rating_to_review']==iphone_128['rating_to_review'].max()
iphone_128[fc]

,product_name,product_url,brand,sale_price,mrp,number_of_ratings,number_of_reviews,upc,star_rating,ram,product_colour,product_size,product_details,specifications,product_name_short,rating_to_review
56,"APPLE iPhone 11 (Black, 128 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,54999,59900,43470,3331,MOBFWQ6BKRYBP5X8,4.6,4 GB,Black,128 GB,APPLE iPhone 11,"(Black, 128 GB)",APPLE iPhone 11,13.050135